body{
    color:white;
    background:url('/public/hotel.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.ul1{
    list-style: none;
    margin-left: 300px;
    margin-top: 50px;
    width: 150px;
    height: 270px;
    border: 5px solid black;
    background-color: rgb(207, 151, 46);;
}
.ul1 li{
    margin-top: 20px;
}
.ul2{
    list-style: none;
    margin-left: 450px;
    margin-top: 50px;
    width: 250px;
    height: 200px;
    border: 5px solid black;
    background-color:rgb(207, 151, 46); 
}
.ul2 li{
    margin-top: 20px;
}
.ul3{
    margin-left: 650px;
    margin-top: 50px;
    width: 250px;
    height: 100px;
    border: 5px solid black;
    background-color: rgb(207, 151, 46);
}
.navi{
    list-style: none;
    display: flex; /*to display the li horizontally */
    padding: 0;
    margin-top: 50px;
}
li a{
   text-decoration: none;
   color: white;
   margin-right:70px;
   font-size: 16px;
   font-weight: 700;
}

.container{
    text-align: center;
    margin: 0 auto;
    max-width: 400px;
    padding: 20px;
    border-radius: 30px;
}
.container p{
    color: rgb(207, 151, 46);
    font-size: 27px;
    font-family: Arial, sans-serif;
    margin: 10px 0;
    font-style:initial;
}

