body{
    color:white;
    background-color: black;
}

.container{
    text-align: center;
    margin: 0 auto;
    margin-top: 100px;
    max-width: 400px;
    padding: 20px;
    border-radius: 30px;
}
.searchbar{
    width: 200px;
    height: 20px;
    border-width: 3px;
    border-radius: 10px;
}
.searchlist{
    margin-top: 50px;
    list-style-type: none;
    margin-right: 50px;

}
.result{
    color: black;
    margin-left: 90px;
    background-color: rgb(247, 247, 247);
    max-width: 150px;
    
}
.result:hover{
    background-color: none;
}