body{
    color:white;
    background-color: black;
   
}

.container{
    text-align: center;
    margin: 0 auto;
    max-width: 400px;
    padding: 20px;
    border-radius: 30px;
}
.mail{
    margin-top: 50px;
}
.name{
    margin-top: 30px;
}
.container button{
    margin-top: 30px;
    margin-left: 15px;
}
.container span{
    color: rgb(186, 53, 53);
    font-size: smaller;
}
